<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="row">
        <div class="container-fluid">
            <div class="panel">
                <div class="panel-heading">
                    My MVC
                </div>
                <div class="panel-body">
                    <ul>
                        <li>完成加载自己的简单视图解析引擎</li>
                        <li>没有定义系统的Controller和model的功能</li>
                        <li>还学要写pathinfo路由</li>
                        <li>PDO ORM操作MYSQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>